<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const opt = "width=300, height=200, top=500, left=500";
        window.open("/cookie/popup", "", opt)
        //공백을 줘야 새창에 열림,안주면 현페이지에서 바뀜
    </script>
</head>
<body>
    쿠키페이지 연결<br>
    cookie : <%= userCookie %><br>
</body>
</html>