<h3>-공지사항-</h3>
오늘의 공지<hr>
<input type="checkbox" id="chk" onclick="makeCookie()">
<label for="chk">하루동안 열지 않음</label>

<script>
    function makeCookie() {
        lacation.href = "/cookie/makeCookie";
        // close(); //window. 생략 가능
    }
</script>